{% extends "base_generic.html" %} {% block content %}

<h1>Add user</h1>

<div class="form-group">
  <form action="addrecord/" method="post">
    {% csrf_token %} First Name: <br />
    <input name="first" />
    <br /><br />
    Last Name: <br />
    <input name="last" />
    <br /><br />
    Email: <br />
    <input name="email" />
    <br /><br />
    Age: <br />
    <input name="age" />
    <br /><br />
    Country: <br />
    <input name="country" />
    <br /><br />
    <input type="submit" value="Submit" />
  </form>
</div>

{% endblock %}

<!-- Add additional CSS in static file -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
