<!DOCTYPE html>

{% extends "base_generic.html" %} {% block content %}

<h1>Current Bills</h1>
<table class="table">
  
  <thead></thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Bill</th>
    <th scope="col">Amount(€)</th>
    <th scope="col">Pay Date</th>
  </tr>
</thead>
<tbody></tbody>
{% for x in mybills %}

    <td><a href="update/{{ x.id }}">{{ x.id }}</a></td>
    <td>{{ x.fixed_bills }}</td>
    <td>{{ x.fixed_bills_amount }}</td>
    <td>{{ x.pay_date }}</td>
    <td><a href="delete/{{ x.id }}">delete</a></td>
  </tr>
</tbody>
  {% endfor %}
</table>

<br />

<h3 style="font-size: large">Total amount to pay this month given current bills:</h3>
<p style="font-size: xx-large;">{{ total_amount }} €</p>
<br>
<h3 style="font-size: large">This is a percentage of your budget of:</h3>
<p style="font-size: xx-large;"> {{bills_percent}} %</p>



{{ pie_chart|safe}}


{% endblock %}



<!-- Add additional CSS in static file -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />



